.button {
  background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313);
  border-radius: 7px;
  font-family: Verdana, Tahoma, sans-serif;
  /* font-style: oblique; */
  font-size: 0.8em;
  color: #fafafa;
  float: right;
  padding: 8px;
  border-left-width: medium;
  display: block;
  border: none;
  margin-right: 70px;
  text-decoration: none;
  align-content: center;
}
.button:hover {
  background: rgb(8, 23, 65);
}

.filters {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.filters {
  font-family: Verdana, Tahoma, sans-serif;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.h3 {
  font-family: Verdana, Tahoma, sans-serif;
  font-style: oblique;
  font-size: 0.8em;
  color: #fafafa;
}

.divcards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: center;
  margin: 10px auto;
}
