.button {
  background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313);
  border-radius: 7px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 0.8em;
  color: #fafafa;
  float: center;
  padding: 8px;
  border-left-width: medium;
  flex-direction: column;
  border: none;
  margin-right: 5px;
  text-decoration: none;
  align-content: center;
  justify-content: center;
}

.button:hover {
  background: rgb(8, 23, 65);
  cursor: pointer;
}

.buttonAdd {
  background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313);
  border-radius: 7px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 0.8em;
  color: #fafafa;
  float: center;
  padding: 8px;
  border-left-width: medium;
  margin-top: 20px;
  flex-direction: column;
  border: none;
  margin-right: 5px;
  text-decoration: none;
  align-content: center;
  justify-content: center;
}

.buttonAdd:hover {
  background: rgb(8, 23, 65);
  cursor: pointer;
}

.buttonAdd:disabled, button[hover] {
  cursor: pointer;
}

.button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.divUbication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  color: #fafafa;
}

.textSelect {
  margin-top: 50px;
  color: #fafafa;
}

.textSeason {
  color: #fafafa;
  margin-top: 35px;
}
.spacing {
  color: #fafafa;
  margin: 20px;
}

.radioSpace {
  margin: 5px;
}

.card {
  margin: 0 auto;
  background-color: rgba(33, 53, 65, 0.089);
  color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  transition: 200ms;
  max-width: 380px;
  backdrop-filter: blur(8px);
  border: solid 1px;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: #fafafa;
  border-style: solid;
}

.divBorder {
  border: solid 1px #fafafa;
  margin-top: 20px;
}
