.paginacion {
  margin: 20px 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 2px;
}

.paginacion ul li a {
  display: block;
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
}

.activo {
  border: 1px solid #026227a8;
}
