.paginacion {
  margin: 20px 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 2px;
}

.paginacion ul li a {
  display: block;
  padding: 10px 10px;
  color: #fafafa;
  text-decoration: none;
}

.paginacion ul li a:active {
  border-bottom: 1px solid #fafafa;
}

.activo {
  border: 2px solid rgba(123, 156, 123, 0.779);
  border-radius: 5px;
}


