.home {
    height: 100vh;
  }
  
  .button {
    background-image: linear-gradient(to bottom, rgb(119, 119, 119), #121313);
    border-radius: 7px;
    /* text-shadow: 3px 2px 1px #9daef57a;
    box-shadow: 6px 5px 24px #595050a3; */
    /* font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-style: oblique; */
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.8em;
    color: #fafafa;
    float: right;
    padding: 8px;
    border-left-width: medium;
    display: block;
    border: none;
    margin-right: 70px;
    text-decoration: none;
    align-content: center;
  }
  .button:hover {
    background: rgb(8, 23, 65);
    /* font-weight: bold; */
  }
  
  .filters {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .filters chl {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .h3 {
    /* font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-style: oblique; */
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.8em;
    color: #fafafa;
  }
  
  .divcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  